{%extends 'base.html'%}

{% block content %}

<div class="container">
    <br><br><br><br><br>
    <h2>Emergency Contacts</h2>
    <div class="row">
        <div class ="col-md-4">XXXXXXXXXX</div>
        <div class ="col-md-4">
            <div class="row">

                <div class ="col-md-6">
                    <h3>User</h3>
                    <P>Police</P>
                    <p>Health</p>
                    <p>Cleaner</p>
                </div>
                <div class ="col-md-6">
                    <h3>Contacts</h3>
                    <p>111,071111111111</p>
                    <p>07123456,071111111111</p>
                    <p>074444444</p>
                </div>
            </div>
        </div>
        <div class ="col-md-4">XXXXXXXXXX</div>
    </div>
</div>

{%endblock%}