{%extends 'base.html'%}

{% block content %}
<div class='container'>
<h1>Neighbours</h1>

<a class="btn btn-danger" href="{% url 'emergency' %}">Emergency</a>

{% for business in businesss %}
                  <a class="btn btn-outline-info btn-sm" id="btn"
                     href="/business/{{business.name}}">{{location.name}}</a><br>
{%endfor%}
<br>
<br>
</div>
{% for post in  posts.all %}

<div class="container">
    <h2>Announcement</h2>
    <div class="panel panel-default">
      <div class="panel-heading"><h3>{{ post.title}}</h3></div>
      <div class="panel-body"><h4>{{post.subject}}</h4></div>
      <div class="panel-footer"><p>{{post.user}}</p></div>
    </div>
  </div>



<p></p>



{% endfor %}
{% endblock %}